# Configurações do App

# APP_URL: URL base da aplicação
APP_URL="http://localhost:5173"

# VITE_SUPABASE_URL: URL do projeto Supabase
VITE_SUPABASE_URL="YOUR_SUPABASE_URL"

# VITE_SUPABASE_ANON_KEY: Chave anônima do projeto Supabase
VITE_SUPABASE_ANON_KEY="YOUR_SUPABASE_ANON_KEY"
